/* Estilos del Nav */

.Nav {
    width: 100%;
	background: #A18262;
    position: sticky;
    top: 0;
    z-index: 2;
    text-align: center;
    
}

.Nav #Bar , .Nav #Act {
	color: #fffeff;
	display: inline-block;
	padding: 2.1vh;
    font-size: 2.2vw;
    font-family: 'Ubuntu', sans-serif;
	width: 100%;
	transition: .3s ease-out all;
    text-decoration: none;
}
.Nav #Bar:hover{
    background: #fffeff;
    border-radius: 5px;
	color: black;
	text-decoration: none;
}
.Nav #Act{
	background: #fffeff;
    border-radius: 5px;
	color: #85a33a;
	text-decoration: none;
}


.Cont {
	width: 95%;
	margin: auto;
	display: flex;
	justify-content: space-between;
}


/*Estilo del Cubo*/
.Contenido{
    width: 100%;
}

.Cubo {
	margin: 0px 20px 20px 20px;
	background: #1a1d1e;
    width: 14%;
    height: 100%;
	padding: 23px;
	border-radius: 3px;
    position: sticky;
    top: 85px;  
    float: left;
    
}

.Cubo .titulo {
	font-family: 'Montserrat', sans-serif;
	font-weight: normal;
	font-size: 1.8vw;
	margin-bottom: 20px;
    text-align: center;
	color: white;
    
}

.Cubo .indice a {
	display: block;
	padding: 1.8vw;
    font-family: 'Ubuntu', sans-serif;
	color: white;
    text-align: center;
    transition: .2s ease-out all;
    text-decoration: none;
}
.Cubo .indice a:hover{
    color: #85a33a;
    background: #D3D0CD;
    border-radius: 3px;
}
/*Estilo del interior*/
.C2{
    margin: 20px 20px 20px 0px;
    background: white;
    width: 80%;
    border-radius: 3px;
    position: relative;
    margin-left: auto;
}
.C1{
    margin: 20px 20px 20px 0px;
    background: white;
    width: 80%;
    border-radius: 3px;
    position: relative;
    margin: auto;
}
.Contenido {
	min-height: 100vh;
}

.Contenido .C1 p , .Contenido .C2 p{
	margin-bottom: 20px;
	line-height: 30px;
}

.Contenido .C1 .titulo , .Contenido .C2 .titulo{
    font-family: 'Cabin', sans-serif;
	font-weight: normal;
    text-align: center;
	padding-top: 40px;
}
.Contenido .TxtCont {
    font-family: 'Cabin', sans-serif;
    font-size: 20px;
}

.post{
    margin: 20px 20px 20px 20px;
    padding-top: 10vh;
    width: 95%;
}


/*Mapa del contenido*/
.ubic{
    border:0;
    width: 100%;
    height: 80vh;
}
/*Publicaciones*/

.face{
    width: 70vw;
    height: 88vh;
    border:none;
    overflow:hidden;
    font-family: 'Cabin', sans-serif;
}
/* IMG del contenido*/
.Img_Post{
    width: 95%;
    height: 450px;
    border-radius: 5px;
}
.img_plat{
    width: 95%;
    height: 1398px;
    border-radius: 5px;
}

/* Tabla */
table{
    width: 100%;
    background: #1a1d1e;
    border-radius: 20px;
    margin: auto;
     
}
table , th , td{
    border: 1px solid white;
    border-collapse: collapse;
    color: white;

}
th , td{
    font-family: 'Cabin', sans-serif;
    padding: 2vw;
    text-align: center;
}

/*--------------Estilos Adaptados a dispositivos mobiles ----------*/
@media (max-width:1000px){
.C2{
    margin: auto;
    width: 90%;
}
.post{
    padding-top: 16.2vh;
    width: 90%;
    
    }
.Cubo {
    z-index: 1;
    width: 100%;
    height: 100%;
	padding: 23px;
    top: 0;  
    margin: auto;
    text-align: center;
    
}
.Cubo .indice a {
	display: inline-block;
    width: 24%;
    font-size:  3.5vw;
}
table{
    width: 90%;
}    
.ubic{
        width: 80%;
}
.Img_Post{
   width: 93%;
    height: 200px;
} 
    
.Nav #Act{
       width: 100%;
	   padding: 3vh;
       font-size: 3.7vw;
}

.Cubo .titulo {
	font-size: 0vw;
	margin-bottom: 0px;    
}
    .Siguenos{
        font-size: 0;
    }    

    .Cont-Img{
        height:  25vh;
        background-position: top;
    }   
    
    .Contenido p {
        font-size:16px;
    }
    .Nav #Bar{
        width: 100%;
	   padding: 3vh;
       font-size: 3.7vw;
    }
    .Cont {
        display: inline-block;
        
    }
    .Nav {
        position: relative;
    }
    
}